In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import time
from pandas.tseries.offsets import *
from scipy import stats
import statsmodels.api as sm
import datetime
import math

In [2]:
#1.1导入IPO数据
program_path = 'D:\\China A share\\'
Start_Date = '1997-01-01'
End_Date = '2019-06-30'
save_list = ['permno', 'ShortName', 'ListedDate', 'DelistedDate',
             'IPOIndustryCode', 'IPOIndustryName', 'LatestIndustryName',
             'LatestIndustryCode']

IPO = pd.read_excel(program_path + 'rawwind\\ER_IPO.xlsx', encoding='utf-16')
IPO = IPO.iloc[2:,:]
IPO['ListedDate'] = pd.to_datetime(IPO['ListedDate'], format='%Y/%m/%d')
IPO['DelistedDate'] = pd.to_datetime(IPO['DelistedDate'], format='%Y/%m/%d')
IPO['permno'] = IPO['Symbol'].copy()
IPO['Symbol'] = IPO['Symbol'].apply(lambda x: x[:3])
# 保留A股
IPO = IPO[
    (IPO['permno'].str.startswith('0')) | (IPO['permno'].str.startswith('3')) | (IPO['permno'].str.startswith('6'))]
# 剔除 688开头的科创板
IPO = IPO[IPO['Symbol'] != '688']

# 调整和剔除代码变更
IPO['permno'].replace('000022', '001872', inplace=True)
IPO['permno'].replace('601313', '601360', inplace=True)
IPO['permno'].replace('600087', '601975', inplace=True)
IPO.drop(index=IPO[IPO['permno'] == '600849'].index, inplace=True)

#为了IPO数据重复，发生二次上市的企业都用不同代码标注
# debug for 600018
temp_index = IPO[(IPO['permno'] == '600018') & (IPO['ListedDate'] == pd.datetime(2000, 7, 19))].index
IPO.loc[temp_index, 'permno'] = 'T00018'
#debug for 601975
temp_index = IPO[(IPO['permno'] == '601975') & (IPO['ListedDate'] == pd.datetime(1997, 6, 12))].index
IPO.loc[temp_index, 'permno'] = '600087'


IPO_sub = IPO.loc[:, save_list]

IPO_sub.to_pickle(program_path + 'temp\\IPO_list.pickle')
IPO_sub.to_csv(program_path + 'temp\\IPO_list.csv')

In [3]:
#1.2生成完美的list
#生成股票list和1997-2018每季度最后一天的时间序列表格
qlist=pd.DataFrame()
for k in range(2019-1997+1):
    qlist=np.append(qlist,pd.datetime(1997+k,3,31))
    qlist=np.append(qlist,pd.datetime(1997+k,6,30))
    qlist=np.append(qlist,pd.datetime(1997+k,9,30))
    qlist=np.append(qlist,pd.datetime(1997+k,12,31))
#concad，得到最长序列，根据IPO裁剪
#得到完美list，用reportdate汇整
qlist=qlist[qlist<pd.datetime(2019,8,1)]

In [4]:
permnolist=[]
for k in IPO_sub['permno'].values:
    q=pd.Series(qlist)
    permnolist.append(q)
q=pd.concat(permnolist,keys=IPO_sub['permno'].values).reset_index().drop('level_1',axis=1,inplace=False).rename(columns={'level_0':'permno',0:'REPORT_PERIOD'},inplace=False)
q=pd.merge(q,IPO_sub,on='permno',how='left')
q=q[(q['REPORT_PERIOD']>=q['ListedDate'])&((q['REPORT_PERIOD']<=q['DelistedDate'])|(q['DelistedDate'].isnull()))].loc[:,['permno','REPORT_PERIOD','ListedDate','DelistedDate']]

In [5]:
#在2002年以前只保留半年度报表
q=q[(q['REPORT_PERIOD']>pd.datetime(2002,1,1))|((q['REPORT_PERIOD'].map(lambda x:x.month==6))|(q['REPORT_PERIOD'].map(lambda x:x.month==12)))]

In [61]:
#2.1 导入损益表
program_path = 'D:\\China A share\\'
income=pd.read_csv(program_path + 'rawwind\\ashareincome.csv')
income['permno']=income['S_INFO_WINDCODE'].str.split('.',expand=True)[0]

#转换日期格式
income['REPORT_PERIOD']=pd.to_datetime(income['REPORT_PERIOD'],format='%Y%m%d')
income['ANN_DT']=pd.to_datetime(income['ANN_DT'],format='%Y%m%d')
#保留A股数据
income=income[(income['permno'].str.startswith('0'))|(income['permno'].str.startswith('3'))|(income['permno'].str.startswith('60'))]
income.loc[(income['permno']=='601975')&(income['REPORT_PERIOD']<pd.datetime(2018,12,31)),'permno']='600087'
income.loc[(income['permno']=='600018')&(income['REPORT_PERIOD']<pd.datetime(2006,10,26)),'permno']='T00018'

#在存在更正前和更正后的数据情况下，保留未更正的数据
income=income.loc[(income['STATEMENT_TYPE']==408005000)|(income['STATEMENT_TYPE']==408001000)].sort_values(['permno','REPORT_PERIOD','STATEMENT_TYPE'])
income.drop_duplicates(subset=['permno','REPORT_PERIOD'],keep='last',inplace=True)

In [7]:
#查看income数据重复,不存在大于两条数据的情况，样本中有2749条更正数据
#test=income.groupby(['permno','REPORT_PERIOD'])['ANN_DT'].count().reset_index()
#test[test['ANN_DT']>2]
#len(income[income['STATEMENT_TYPE']==408005000])

In [60]:
#2.1 检查损益表的完整
qincome=pd.merge(q,income,on=['permno','REPORT_PERIOD'],how='left')
#查看缺失值：未披露现金流量表，且没有在下一年4月以前退市
qincome[(qincome['ANN_DT'].isnull())&((qincome['REPORT_PERIOD']+MonthEnd(4)<=qincome['DelistedDate'])|qincome['DelistedDate'].isnull())]

,permno,REPORT_PERIOD,ListedDate,DelistedDate,OBJECT_ID,S_INFO_WINDCODE,WIND_CODE,ANN_DT,STATEMENT_TYPE,CRNCY_CODE,...,CONTINUED_NET_PROFIT,END_NET_PROFIT,CREDIT_IMPAIRMENT_LOSS,NET_EXPOSURE_HEDGING_BENEFITS,RD_EXPENSE,STMNOTE_FINEXP,FIN_EXP_INT_INC,IS_CALCULATION,OPDATE,OPMODE
2576,000036,1998-06-30,1994-06-17,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8616,000508,1997-06-30,1993-04-30,1999-07-12,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8617,000508,1997-12-31,1993-04-30,1999-07-12,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8618,000508,1998-06-30,1993-04-30,1999-07-12,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8619,000508,1998-12-31,1993-04-30,1999-07-12,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16802,000629,1998-06-30,1996-11-15,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20465,000693,2018-12-31,1997-02-26,2019-07-09,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65524,002680,2018-09-30,2012-06-05,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65525,002680,2018-12-31,2012-06-05,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65526,002680,2019-03-31,2012-06-05,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65527,002680,2019-06-30,2012-06-05,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86852,T00018,2000-12-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86853,T00018,2001-06-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86854,T00018,2001-12-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86855,T00018,2002-03-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86856,T00018,2002-06-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86857,T00018,2002-09-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86859,T00018,2003-03-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86860,T00018,2003-06-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86861,T00018,2003-09-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86863,T00018,2004-03-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86864,T00018,2004-06-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86865,T00018,2004-09-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86867,T00018,2005-03-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91324,600092,2006-03-31,1997-06-26,2006-11-30,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91325,600092,2006-06-30,1997-06-26,2006-11-30,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91444,600094,2009-03-31,1997-07-03,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123949,600630,1998-06-30,1993-02-09,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126122,600659,2005-06-30,1993-05-28,2006-03-23,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126123,600659,2005-09-30,1993-05-28,2006-03-23,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126687,600667,1998-06-30,1993-07-28,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128270,600689,1998-06-30,1993-11-08,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134709,600772,2005-12-31,1996-11-04,2006-11-30,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134710,600772,2006-03-31,1996-11-04,2006-11-30,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134711,600772,2006-06-30,1996-11-04,2006-11-30,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135886,600788,2004-06-30,1996-12-30,2005-03-25,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135887,600788,2004-09-30,1996-12-30,2005-03-25,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149629,601607,1998-06-30,1994-03-24,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#缺失数据作图
totalcount=qincome.groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'TOTAL'},inplace=False)
missingcount=qincome[(qincome['ANN_DT'].isnull())].groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'Missing'},inplace=False)
missingdel=qincome[(qincome['ANN_DT'].isnull())&((qincome['REPORT_PERIOD']+MonthEnd(4)<=qincome['DelistedDate'])|qincome['DelistedDate'].isnull())].groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'Missing nonDEL'},inplace=False)
qincome_count=pd.merge(totalcount,missingcount,on=['REPORT_PERIOD'],how='left')
qincome_count=pd.merge(qincome_count,missingdel,on=['REPORT_PERIOD'],how='left')
qincome_count.to_csv(program_path + 'tempwind\\qincome_count.csv')

In [106]:
#2.2 导入现金流量表
program_path = 'D:\\China A share\\'
cf=pd.read_csv(program_path + 'rawwind\\asharecashflow.csv')
cf['permno']=cf['S_INFO_WINDCODE'].str.split('.',expand=True)[0]

#转换日期格式
cf['REPORT_PERIOD']=pd.to_datetime(cf['REPORT_PERIOD'],format='%Y%m%d')
cf['ANN_DT']=pd.to_datetime(cf['ANN_DT'],format='%Y%m%d')
#保留A股数据
cf=cf[(cf['permno'].str.startswith('0'))|(cf['permno'].str.startswith('3'))|(cf['permno'].str.startswith('60'))]
cf.loc[(cf['permno']=='601975')&(cf['REPORT_PERIOD']<pd.datetime(2018,12,31)),'permno']='600087'
cf.loc[(cf['permno']=='600018')&(cf['REPORT_PERIOD']<pd.datetime(2006,10,26)),'permno']='T00018'

#在存在更正前和更正后的数据情况下，保留未更正的数据
cf=cf.loc[(cf['STATEMENT_TYPE']==408005000)|(cf['STATEMENT_TYPE']==408001000)].sort_values(['permno','REPORT_PERIOD','STATEMENT_TYPE'])
cf.drop_duplicates(subset=['permno','REPORT_PERIOD'],keep='last',inplace=True)

In [10]:
#2.2 检查现金流量表的完整
qcf=pd.merge(q,cf,on=['permno','REPORT_PERIOD'],how='left')
#查看缺失值：1997年后，未披露现金流量表，且没有在下一年4月以前退市
qcf[(qcf['ANN_DT'].isnull())&(qcf['REPORT_PERIOD']>pd.datetime(1997,12,31))&((qcf['REPORT_PERIOD']+MonthEnd(4)<=qcf['DelistedDate'])|qcf['DelistedDate'].isnull())]

,permno,REPORT_PERIOD,ListedDate,DelistedDate,OBJECT_ID,S_INFO_WINDCODE,WIND_CODE,ANN_DT,STATEMENT_TYPE,CRNCY_CODE,...,SPE_BAL_NETCASH_EQU_UNDIR,TOT_BAL_NETCASH_EQU_UNDIR,SPE_BAL_NETCASH_INC_UNDIR,TOT_BAL_NETCASH_INC_UNDIR,S_INFO_COMPCODE,S_DISMANTLE_CAPITAL_ADD_NET,IS_CALCULATION,SECURITIE_NETCASH_RECEIVED,OPDATE,OPMODE
10,000001,2002-03-31,1991-04-03,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,000001,2002-09-30,1991-04-03,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,000002,1998-06-30,1991-01-29,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,000002,2002-03-31,1991-01-29,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,000002,2002-09-30,1991-01-29,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,000003,1998-06-30,1991-07-03,2002-06-14,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,000003,1999-06-30,1991-07-03,2002-06-14,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,000004,1998-06-30,1991-01-14,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,000004,2002-03-31,1991-01-14,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,000004,2002-09-30,1991-01-14,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,000005,2002-03-31,1990-12-10,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,000005,2002-09-30,1990-12-10,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333,000006,1998-06-30,1992-04-27,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335,000006,1999-06-30,1992-04-27,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
341,000006,2002-03-31,1992-04-27,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
343,000006,2002-09-30,1992-04-27,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
413,000007,1998-06-30,1992-04-13,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421,000007,2002-03-31,1992-04-13,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423,000007,2002-09-30,1992-04-13,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
493,000008,1998-06-30,1992-05-07,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
495,000008,1999-06-30,1992-05-07,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501,000008,2002-03-31,1992-05-07,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
573,000009,1998-06-30,1991-06-25,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
581,000009,2002-03-31,1991-06-25,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
583,000009,2002-09-30,1991-06-25,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
653,000010,1998-06-30,1995-10-27,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
655,000010,1999-06-30,1995-10-27,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
661,000010,2002-03-31,1995-10-27,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
663,000010,2002-09-30,1995-10-27,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
733,000011,1998-06-30,1992-03-30,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143644,600891,2002-09-30,1996-03-25,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143722,600892,2002-03-31,1996-03-15,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143724,600892,2002-09-30,1996-03-15,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143794,600893,1998-06-30,1996-04-08,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143796,600893,1999-06-30,1996-04-08,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143802,600893,2002-03-31,1996-04-08,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143804,600893,2002-09-30,1996-04-08,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143876,600894,1999-06-30,1996-03-28,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143882,600894,2002-03-31,1996-03-28,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143884,600894,2002-09-30,1996-03-28,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143954,600895,1998-06-30,1996-04-22,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143956,600895,1999-06-30,1996-04-22,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143962,600895,2002-03-31,1996-04-22,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143964,600895,2002-09-30,1996-04-22,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144042,600896,2002-03-31,1996-05-03,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144044,600896,2002-09-30,1996-05-03,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144114,600897,1998-06-30,1996-05-31,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144116,600897,1999-06-30,1996-05-31,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144122,600897,2002-03-31,1996-05-31,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144124,600897,2002-09-30,1996-05-31,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144194,600898,1998-06-30,1996-04-18,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144202,600898,2002-03-31,1996-04-18,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144204,600898,2002-09-30,1996-04-18,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144274,600899,1998-06-30,1996-04-26,2005-09-21,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144282,600899,2002-03-31,1996-04-26,2005-09-21,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144284,600899,2002-09-30,1996-04-26,2005-09-21,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149629,601607,1998-06-30,1994-03-24,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149631,601607,1999-06-30,1994-03-24,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149637,601607,2002-03-31,1994-03-24,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149639,601607,2002-09-30,1994-03-24,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
#缺失数据作图
totalcount=qcf.groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'TOTAL'},inplace=False)
missingcount=qcf[(qcf['ANN_DT'].isnull())].groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'Missing'},inplace=False)
missingdel=qcf[(qcf['ANN_DT'].isnull())&((qcf['REPORT_PERIOD']+MonthEnd(4)<=qcf['DelistedDate'])|qcf['DelistedDate'].isnull())].groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'Missing nonDEL'},inplace=False)
qcf_count=pd.merge(totalcount,missingcount,on=['REPORT_PERIOD'],how='left')
qcf_count=pd.merge(qcf_count,missingdel,on=['REPORT_PERIOD'],how='left')
qcf_count.to_csv(program_path + 'tempwind\\qcf_count.csv')

In [11]:
#剔除缺失值中的2002年以前数据
qcf[(qcf['ANN_DT'].isnull())&
   (qcf['REPORT_PERIOD'].map(lambda x:x.year>2002))&
    (qcf['REPORT_PERIOD']>pd.datetime(1997,12,31))&((qcf['REPORT_PERIOD']+MonthEnd(4)<=qcf['DelistedDate'])|qcf['DelistedDate'].isnull())]

,permno,REPORT_PERIOD,ListedDate,DelistedDate,OBJECT_ID,S_INFO_WINDCODE,WIND_CODE,ANN_DT,STATEMENT_TYPE,CRNCY_CODE,...,SPE_BAL_NETCASH_EQU_UNDIR,TOT_BAL_NETCASH_EQU_UNDIR,SPE_BAL_NETCASH_INC_UNDIR,TOT_BAL_NETCASH_INC_UNDIR,S_INFO_COMPCODE,S_DISMANTLE_CAPITAL_ADD_NET,IS_CALCULATION,SECURITIE_NETCASH_RECEIVED,OPDATE,OPMODE
17454,000638,2003-03-31,1996-11-26,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20465,000693,2018-12-31,1997-02-26,2019-07-09,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22817,000730,2003-03-31,1997-05-22,2004-09-24,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65524,002680,2018-09-30,2012-06-05,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65525,002680,2018-12-31,2012-06-05,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65526,002680,2019-03-31,2012-06-05,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65527,002680,2019-06-30,2012-06-05,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86859,T00018,2003-03-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86860,T00018,2003-06-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86861,T00018,2003-09-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86863,T00018,2004-03-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86864,T00018,2004-06-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86865,T00018,2004-09-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86867,T00018,2005-03-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86868,T00018,2005-06-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86869,T00018,2005-09-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91324,600092,2006-03-31,1997-06-26,2006-11-30,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91325,600092,2006-06-30,1997-06-26,2006-11-30,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122716,600613,2003-03-31,1992-08-20,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126122,600659,2005-06-30,1993-05-28,2006-03-23,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126123,600659,2005-09-30,1993-05-28,2006-03-23,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134709,600772,2005-12-31,1996-11-04,2006-11-30,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134710,600772,2006-03-31,1996-11-04,2006-11-30,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134711,600772,2006-06-30,1996-11-04,2006-11-30,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135886,600788,2004-06-30,1996-12-30,2005-03-25,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135887,600788,2004-09-30,1996-12-30,2005-03-25,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
#2.3 导入资产负债表
program_path = 'D:\\China A share\\'
balance=pd.read_csv(program_path + 'rawwind\\asharebalancesheet.csv')
balance['permno']=balance['S_INFO_WINDCODE'].str.split('.',expand=True)[0]

#转换日期格式
balance['REPORT_PERIOD']=pd.to_datetime(balance['REPORT_PERIOD'],format='%Y%m%d')
balance['ANN_DT']=pd.to_datetime(balance['ANN_DT'],format='%Y%m%d')
#保留A股数据
balance=balance[(balance['permno'].str.startswith('0'))|(balance['permno'].str.startswith('3'))|(balance['permno'].str.startswith('60'))]
balance.loc[(balance['permno']=='601975')&(balance['REPORT_PERIOD']<pd.datetime(2018,12,31)),'permno']='600087'
balance.loc[(balance['permno']=='600018')&(balance['REPORT_PERIOD']<pd.datetime(2006,10,26)),'permno']='T00018'

#在存在更正前和更正后的数据情况下，保留未更正的数据
balance=balance.loc[(balance['STATEMENT_TYPE']==408005000)|(balance['STATEMENT_TYPE']==408001000)].sort_values(['permno','REPORT_PERIOD','STATEMENT_TYPE'])
balance.drop_duplicates(subset=['permno','REPORT_PERIOD'],keep='last',inplace=True)

In [13]:
#2.3 检查资产负债表的完整
qbalance=pd.merge(q,balance,on=['permno','REPORT_PERIOD'],how='left')
#查看缺失值：未披露资产负债表，且没有在下一年4月以前退市
qbalance[(qbalance['ANN_DT'].isnull())&((qbalance['REPORT_PERIOD']+MonthEnd(4)<=qbalance['DelistedDate'])|qbalance['DelistedDate'].isnull())]

,permno,REPORT_PERIOD,ListedDate,DelistedDate,OBJECT_ID,S_INFO_WINDCODE,WIND_CODE,ANN_DT,STATEMENT_TYPE,CRNCY_CODE,...,CONST_IN_PROG_TOT,OTH_PAYABLE_TOT,LT_PAYABLE_TOT,DEBT_INVESTMENT,OTHER_DEBT_INVESTMENT,OTHER_EQUITY_INVESTMENT,OTHER_ILLIQUIDFINANCIAL_ASSETS,OTHER_SUSTAINABLE_BOND,OPDATE,OPMODE
2576,000036,1998-06-30,1994-06-17,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8616,000508,1997-06-30,1993-04-30,1999-07-12,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8617,000508,1997-12-31,1993-04-30,1999-07-12,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8618,000508,1998-06-30,1993-04-30,1999-07-12,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8619,000508,1998-12-31,1993-04-30,1999-07-12,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16256,000620,2008-09-30,1996-10-29,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16802,000629,1998-06-30,1996-11-15,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20465,000693,2018-12-31,1997-02-26,2019-07-09,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65524,002680,2018-09-30,2012-06-05,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65525,002680,2018-12-31,2012-06-05,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65526,002680,2019-03-31,2012-06-05,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65527,002680,2019-06-30,2012-06-05,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86852,T00018,2000-12-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86853,T00018,2001-06-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86854,T00018,2001-12-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86855,T00018,2002-03-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86856,T00018,2002-06-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86857,T00018,2002-09-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86859,T00018,2003-03-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86860,T00018,2003-06-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86861,T00018,2003-09-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86863,T00018,2004-03-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86864,T00018,2004-06-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86865,T00018,2004-09-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86867,T00018,2005-03-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86868,T00018,2005-06-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86869,T00018,2005-09-30,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91324,600092,2006-03-31,1997-06-26,2006-11-30,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91325,600092,2006-06-30,1997-06-26,2006-11-30,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123949,600630,1998-06-30,1993-02-09,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126122,600659,2005-06-30,1993-05-28,2006-03-23,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126123,600659,2005-09-30,1993-05-28,2006-03-23,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126687,600667,1998-06-30,1993-07-28,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128270,600689,1998-06-30,1993-11-08,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134709,600772,2005-12-31,1996-11-04,2006-11-30,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134710,600772,2006-03-31,1996-11-04,2006-11-30,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134711,600772,2006-06-30,1996-11-04,2006-11-30,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135886,600788,2004-06-30,1996-12-30,2005-03-25,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135887,600788,2004-09-30,1996-12-30,2005-03-25,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149629,601607,1998-06-30,1994-03-24,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
#缺失数据作图
totalcount=qbalance.groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'TOTAL'},inplace=False)
missingcount=qbalance[(qbalance['ANN_DT'].isnull())].groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'Missing'},inplace=False)
missingdel=qbalance[(qbalance['ANN_DT'].isnull())&((qbalance['REPORT_PERIOD']+MonthEnd(4)<=qbalance['DelistedDate'])|qbalance['DelistedDate'].isnull())].groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'Missing nonDEL'},inplace=False)
qbalance_count=pd.merge(totalcount,missingcount,on=['REPORT_PERIOD'],how='left')
qbalance_count=pd.merge(qbalance_count,missingdel,on=['REPORT_PERIOD'],how='left')
qbalance_count.to_csv(program_path + 'tempwind\\qbalance_count.csv')

In [48]:
#3.1 生成单季度损益表
lastqincome=qincome.drop(['OBJECT_ID',
       'S_INFO_WINDCODE', 'WIND_CODE', 'ANN_DT', 'STATEMENT_TYPE','MEMO',
       'CRNCY_CODE','ACTUAL_ANN_DT','S_INFO_COMPCODE','IS_CALCULATION', 'OPDATE', 'OPMODE'],axis=1)
lastqincome.loc[lastqincome['REPORT_PERIOD']>=pd.datetime(2001,12,31),'reportdate']=lastqincome['REPORT_PERIOD']+MonthEnd(3)
lastqincome.loc[lastqincome['REPORT_PERIOD']<pd.datetime(2001,12,31),'reportdate']=lastqincome['REPORT_PERIOD']+MonthEnd(6)
lastqincome.rename(columns={'REPORT_PERIOD':'lastrepodate'},inplace=True)
lastqincome.rename(columns={'reportdate':'REPORT_PERIOD'},inplace=True)

In [49]:
qincomecol=qincome.columns.drop(['permno','REPORT_PERIOD','ListedDate','DelistedDate','OBJECT_ID',
       'S_INFO_WINDCODE', 'WIND_CODE', 'ANN_DT', 'STATEMENT_TYPE','MEMO',
       'CRNCY_CODE','ACTUAL_ANN_DT','S_INFO_COMPCODE','IS_CALCULATION', 'OPDATE', 'OPMODE'])
for k in qincomecol:
    lastqincome.rename(columns={k:k+'last'},inplace=True)
diffqincome=pd.merge(qincome,lastqincome,on=['permno','REPORT_PERIOD','ListedDate','DelistedDate'],how='left')
for k in qincomecol:
    diffqincome[k+'_diff']=diffqincome[k]-diffqincome[k+'last']
    diffqincome.drop([k,k+'last'],axis=1,inplace=True)

In [56]:
#缺失数据作图
totalcount=diffqincome.groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'TOTAL'},inplace=False)
missingcount=diffqincome[(diffqincome['ANN_DT'].isnull())].groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'Missing'},inplace=False)
missingdel=diffqincome[(diffqincome['ANN_DT'].isnull())&((diffqincome['REPORT_PERIOD']+MonthEnd(4)<=diffqincome['DelistedDate'])|diffqincome['DelistedDate'].isnull())].groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'Missing nonDEL'},inplace=False)
diffqincome_count=pd.merge(totalcount,missingcount,on=['REPORT_PERIOD'],how='left')
diffqincome_count=pd.merge(diffqincome_count,missingdel,on=['REPORT_PERIOD'],how='left')
diffqincome_count.to_csv(program_path + 'tempwind\\diffqincome_count.csv')

In [51]:
#3.2 生成现金流量表
lastqcf=qcf.drop(['OBJECT_ID',
       'S_INFO_WINDCODE', 'WIND_CODE', 'ANN_DT', 'STATEMENT_TYPE',
       'CRNCY_CODE','ACTUAL_ANN_DT','S_INFO_COMPCODE','IS_CALCULATION', 'OPDATE', 'OPMODE'],axis=1)
lastqcf.loc[lastqcf['REPORT_PERIOD']>=pd.datetime(2001,12,31),'reportdate']=lastqcf['REPORT_PERIOD']+MonthEnd(3)
lastqcf.loc[lastqcf['REPORT_PERIOD']<pd.datetime(2001,12,31),'reportdate']=lastqcf['REPORT_PERIOD']+MonthEnd(6)
lastqcf.rename(columns={'REPORT_PERIOD':'lastrepodate'},inplace=True)
lastqcf.rename(columns={'reportdate':'REPORT_PERIOD'},inplace=True)

In [52]:
qcfcol=qcf.columns.drop(['permno','REPORT_PERIOD','ListedDate','DelistedDate','OBJECT_ID',
       'S_INFO_WINDCODE', 'WIND_CODE', 'ANN_DT', 'STATEMENT_TYPE',
       'CRNCY_CODE','ACTUAL_ANN_DT','S_INFO_COMPCODE','IS_CALCULATION', 'OPDATE', 'OPMODE'],)
for k in qcfcol:
    lastqcf.rename(columns={k:k+'last'},inplace=True)
diffqcf=pd.merge(qcf,lastqcf,on=['permno','REPORT_PERIOD','ListedDate','DelistedDate'],how='left')
for k in qcfcol:
    diffqcf[k+'_diff']=diffqcf[k]-diffqcf[k+'last']
    diffqcf.drop([k,k+'last'],axis=1,inplace=True)

In [58]:
#缺失数据作图
totalcount=diffqcf.groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'TOTAL'},inplace=False)
missingcount=diffqcf[(diffqcf['ANN_DT'].isnull())].groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'Missing'},inplace=False)
missingdel=diffqcf[(diffqcf['ANN_DT'].isnull())&((diffqcf['REPORT_PERIOD']+MonthEnd(4)<=diffqcf['DelistedDate'])|diffqcf['DelistedDate'].isnull())].groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'Missing nonDEL'},inplace=False)
diffqcf_count=pd.merge(totalcount,missingcount,on=['REPORT_PERIOD'],how='left')
diffqcf_count=pd.merge(diffqcf_count,missingdel,on=['REPORT_PERIOD'],how='left')
diffqcf_count.to_csv(program_path + 'tempwind\\diffqcf_count.csv')

In [105]:
IPO_sub[IPO_sub['permno']=='600391']

,permno,ShortName,ListedDate,DelistedDate,IPOIndustryCode,IPOIndustryName,LatestIndustryName,LatestIndustryCode
2630,600391,航发科技,2001-12-12,NaT,C75,交通运输设备制造业,铁路、船舶、航空航天和其它运输设备制造业,C37

In [104]:
income[(income['permno']=='600391')&(income['REPORT_PERIOD']==pd.datetime(2006,12,31))][['permno','REPORT_PERIOD','ANN_DT','ACTUAL_ANN_DT','STATEMENT_TYPE']]

         permno REPORT_PERIOD     ANN_DT  ACTUAL_ANN_DT  STATEMENT_TYPE
109412   600391    2006-12-31 2008-02-22     20070131.0       408005000
439709   600391    2006-12-31 2008-02-22     20190326.0       408002000
439728   600391    2006-12-31 2008-02-22     20070131.0       408007000
486038   600391    2006-12-31 2008-02-22     20080222.0       408008000
486039   600391    2006-12-31 2008-02-22     20080222.0       408003000
489741   600391    2006-12-31 2008-02-22     20190326.0       408001000
489742   600391    2006-12-31 2008-02-22     20070131.0       408006000
790611   600391    2006-12-31 2008-02-22     20080222.0       408009000
1097763  600391    2006-12-31 2008-02-22     20080222.0       408004000

In [103]:
income[(income['ANN_DT']!=pd.to_datetime(income['ACTUAL_ANN_DT'],format='%Y%m%d'))&(income['STATEMENT_TYPE']==408005000)][['permno','REPORT_PERIOD','ANN_DT','ACTUAL_ANN_DT','STATEMENT_TYPE']].sort_values(['permno','REPORT_PERIOD','STATEMENT_TYPE'])

        permno REPORT_PERIOD     ANN_DT  ACTUAL_ANN_DT  STATEMENT_TYPE
109412  600391    2006-12-31 2008-02-22     20070131.0       408005000

In [108]:
testincome=income[(income['permno']=='600519')&(income['REPORT_PERIOD']>=pd.datetime(2006,3,31))&(income['REPORT_PERIOD']<=pd.datetime(2007,12,31))][['permno','REPORT_PERIOD','ANN_DT','ACTUAL_ANN_DT','STATEMENT_TYPE','NET_PROFIT_INCL_MIN_INT_INC']].sort_values(['permno','REPORT_PERIOD','STATEMENT_TYPE'])
testbalance=balance[(balance['permno']=='600519')&(balance['REPORT_PERIOD']>=pd.datetime(2006,3,31))&(balance['REPORT_PERIOD']<=pd.datetime(2007,12,31))][['permno','REPORT_PERIOD','ANN_DT','ACTUAL_ANN_DT','STATEMENT_TYPE','TOT_ASSETS']].sort_values(['permno','REPORT_PERIOD','STATEMENT_TYPE'])
testincf=cf[(cf['permno']=='600519')&(cf['REPORT_PERIOD']>=pd.datetime(2006,3,31))&(cf['REPORT_PERIOD']<=pd.datetime(2007,12,31))][['permno','REPORT_PERIOD','ANN_DT','ACTUAL_ANN_DT','STATEMENT_TYPE','NET_CASH_FLOWS_OPER_ACT']].sort_values(['permno','REPORT_PERIOD','STATEMENT_TYPE'])

In [110]:
testincome[(testincome['STATEMENT_TYPE']==408001000)|(testincome['STATEMENT_TYPE']==408005000)]

,permno,REPORT_PERIOD,ANN_DT,ACTUAL_ANN_DT,STATEMENT_TYPE,NET_PROFIT_INCL_MIN_INT_INC
492327,600519,2006-03-31,2007-04-28,20060422.0,408001000,4.514162e+08
495363,600519,2006-06-30,2007-08-17,20060823.0,408001000,6.031179e+08
497032,600519,2006-09-30,2007-10-23,20061025.0,408001000,1.056601e+09
783624,600519,2006-12-31,2008-03-13,20070403.0,408001000,1.616375e+09
213206,600519,2007-03-31,2007-04-28,20070428.0,408001000,5.614407e+08
97613,600519,2007-06-30,2007-08-17,20070817.0,408001000,8.939482e+08
226185,600519,2007-09-30,2007-10-23,20071023.0,408001000,1.669222e+09
21611,600519,2007-12-31,2008-03-13,20080313.0,408001000,2.966053e+09

In [111]:
testbalance[(testbalance['STATEMENT_TYPE']==408001000)|(testbalance['STATEMENT_TYPE']==408005000)]

,permno,REPORT_PERIOD,ANN_DT,ACTUAL_ANN_DT,STATEMENT_TYPE,TOT_ASSETS
160476,600519,2006-03-31,2006-04-22,20060422.0,408001000,8.103037e+09
165752,600519,2006-06-30,2006-08-23,20060823.0,408001000,7.799863e+09
167857,600519,2006-09-30,2006-10-25,20061025.0,408001000,8.806429e+09
328737,600519,2006-12-31,2008-03-13,20070403.0,408001000,9.570794e+09
290574,600519,2007-03-31,2007-04-28,20070428.0,408001000,9.883305e+09
210989,600519,2007-06-30,2007-08-17,20070817.0,408001000,1.022693e+10
209512,600519,2007-09-30,2007-10-23,20071023.0,408001000,1.019420e+10
280,600519,2007-12-31,2008-03-13,20080313.0,408001000,1.048147e+10

In [115]:
testincf[(testincf['STATEMENT_TYPE']==408001000)|(testincf['STATEMENT_TYPE']==408003000)]

,permno,REPORT_PERIOD,ANN_DT,ACTUAL_ANN_DT,STATEMENT_TYPE,NET_CASH_FLOWS_OPER_ACT
380687,600519,2006-03-31,2007-04-28,20060422.0,408001000,2.249201e+08
381974,600519,2006-06-30,2007-08-17,20060823.0,408001000,5.953597e+08
384418,600519,2006-09-30,2007-10-23,20061025.0,408001000,1.491329e+09
527620,600519,2006-12-31,2008-03-13,20070403.0,408001000,2.112937e+09
1111582,600519,2007-03-31,2007-04-28,20070428.0,408001000,3.805431e+08
817609,600519,2007-06-30,2007-08-17,20070817.0,408001000,6.858131e+08
462999,600519,2007-09-30,2007-10-23,20071023.0,408001000,1.548259e+09
1047909,600519,2007-12-31,2008-03-13,20080313.0,408001000,1.743303e+09

In [84]:
#FINAN=pd.read_excel(program_path + 'tempwind\\FINAN.xlsx')
#incomename=FINAN[FINAN['sheet']=='income']['names'].values
#balancename=FINAN[FINAN['sheet']=='balance']['names'].values
#cfname=FINAN[FINAN['sheet']=='cash flow']['names'].values

In [ ]:
#1.非数值信息
数据标签:
    ['S_INFO_WINDCODE', 'ANN_DT','ACTUAL_ANN_DT','STATEMENT_TYPE','REPORT_PERIOD']

损益表标签：
    ['NET_PROFIT_INCL_MIN_INT_INC', 'OPER_REV', 'LESS_OPER_COST',
       'OPER_PROFIT', 'INC_TAX', 'TOT_PROFIT', 'LESS_GERL_ADMIN_EXP',
       'LESS_SELLING_DIST_EXP', 'LESS_FIN_EXP', 'TOT_OPER_REV',
       'OTHER_BUS_INC', 'TOT_OPER_COST', 'RD_EXPENSE',
       'LESS_TAXES_SURCHARGES_OPS', 'PLUS_NON_OPER_REV',
       'LESS_NON_OPER_EXP', 'EBIT', 'EBITDA']

现金流量表标签：
    ['NET_CASH_FLOWS_OPER_ACT', 'NET_CASH_FLOWS_FNC_ACT',
       'NET_CASH_FLOWS_INV_ACT', 'FREE_CASH_FLOW',
       'NET_INCR_CASH_CASH_EQU', 'PAY_ALL_TYP_TAX', 'CASH_PAID_INVEST',
       'NET_CASH_PAY_AQUIS_SOBU', 'OTHER_CASH_PAY_RAL_INV_ACT',
       'CASH_PAY_ACQ_CONST_FIOLTA', 'DEPR_FA_COGA_DPBA']

资产负债表：
    ['TOT_SHRHLDR_EQY_INCL_MIN_INT', 'TOT_ASSETS', 'TOT_LIAB',
       'DVD_PAYABLE', 'INVENTORIES', 'TOT_CUR_LIAB', 'FIX_ASSETS',
       'ACCT_RCV', 'FIX_ASSETS', 'MONETARY_CAP', 'RCV_INVEST',
       'ST_BORROW', 'LT_BORROW', 'TOT_SHRHLDR_EQY_EXCL_MIN_INT',
       'MINORITY_INT', 'LT_BORROW', 'ST_BORROW', 'TOT_CUR_ASSETS',
       'TOT_CUR_LIAB', 'CASH_DEPOSITS_CENTRAL_BANK', 'FIX_ASSETS_DISP',
       'OTHER_EQUITY_TOOLS_P_SHR', 'R_AND_D_COSTS']