In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import time
from pandas.tseries.offsets import *
from scipy import stats
import statsmodels.api as sm
import datetime
import math

In [2]:
#1.1导入IPO数据
program_path = 'D:\\China A share\\'
Start_Date = '1997-01-01'
End_Date = '2019-06-30'
save_list = ['permno', 'ShortName', 'ListedDate', 'DelistedDate',
             'IPOIndustryCode', 'IPOIndustryName', 'LatestIndustryName',
             'LatestIndustryCode']

IPO = pd.read_excel(program_path + 'rawwind\\ER_IPO.xlsx', encoding='utf-16')
IPO = IPO.iloc[2:,:]
IPO['ListedDate'] = pd.to_datetime(IPO['ListedDate'], format='%Y/%m/%d')
IPO['DelistedDate'] = pd.to_datetime(IPO['DelistedDate'], format='%Y/%m/%d')
IPO['permno'] = IPO['Symbol'].copy()
IPO['Symbol'] = IPO['Symbol'].apply(lambda x: x[:3])
# 保留A股
IPO = IPO[
    (IPO['permno'].str.startswith('0')) | (IPO['permno'].str.startswith('3')) | (IPO['permno'].str.startswith('6'))]
# 剔除 688开头的科创板
IPO = IPO[IPO['Symbol'] != '688']

# 调整和剔除代码变更
IPO['permno'].replace('000022', '001872', inplace=True)
IPO['permno'].replace('601313', '601360', inplace=True)
IPO['permno'].replace('600087', '601975', inplace=True)
IPO.drop(index=IPO[IPO['permno'] == '600849'].index, inplace=True)

#为了IPO数据重复，发生二次上市的企业都用不同代码标注
# debug for 600018
temp_index = IPO[(IPO['permno'] == '600018') & (IPO['ListedDate'] == pd.datetime(2000, 7, 19))].index
IPO.loc[temp_index, 'permno'] = 'T00018'
#debug for 601975
temp_index = IPO[(IPO['permno'] == '601975') & (IPO['ListedDate'] == pd.datetime(1997, 6, 12))].index
IPO.loc[temp_index, 'permno'] = '600087'


IPO_sub = IPO.loc[:, save_list]

IPO_sub.to_pickle(program_path + 'temp\\IPO_list.pickle')
IPO_sub.to_csv(program_path + 'temp\\IPO_list.csv')

In [3]:
#1.2生成完美的list
#生成股票list和1997-2018每年最后一天的时间序列表格
annlist=pd.DataFrame()
for k in range(2019-1997):
    annlist=np.append(annlist,pd.datetime(1997+k,12,31))
#补充时间到季度
#qlist=pd.DataFrame()
#for k in range(2019-1997):
#    qlist=np.append(qlist,pd.datetime(1997+k,3,31))
#    qlist=np.append(qlist,pd.datetime(1997+k,6,30))
#    qlist=np.append(qlist,pd.datetime(1997+k,9,30))
#    qlist=np.append(qlist,pd.datetime(1997+k,12,31))
#concad，得到最长序列，根据IPO裁剪
#得到完美list，用reportdate汇整

In [4]:
permnolist=[]
for k in IPO_sub['permno'].values:
    ann=pd.Series(annlist)
    permnolist.append(ann)
ann=pd.concat(permnolist,keys=IPO_sub['permno'].values).reset_index().drop('level_1',axis=1,inplace=False).rename(columns={'level_0':'permno',0:'REPORT_PERIOD'},inplace=False)
ann=pd.merge(ann,IPO_sub,on='permno',how='left')
ann=ann[(ann['REPORT_PERIOD']>=ann['ListedDate'])&((ann['REPORT_PERIOD']<=ann['DelistedDate'])|(ann['DelistedDate'].isnull()))].loc[:,['permno','REPORT_PERIOD','ListedDate','DelistedDate']]

In [5]:
#2.1 导入损益表
income=pd.read_csv(program_path + 'rawwind\\ashareincome.csv')
income['permno']=income['S_INFO_WINDCODE'].str.split('.',expand=True)[0]

#转换日期格式
income['REPORT_PERIOD']=pd.to_datetime(income['REPORT_PERIOD'],format='%Y%m%d')
income['ANN_DT']=pd.to_datetime(income['ANN_DT'],format='%Y%m%d')
#保留A股数据
income=income[(income['permno'].str.startswith('0'))|(income['permno'].str.startswith('3'))|(income['permno'].str.startswith('60'))]
income.loc[(income['permno']=='601975')&(income['REPORT_PERIOD']<pd.datetime(2018,12,31)),'permno']='600087'
income.loc[(income['permno']=='600018')&(income['REPORT_PERIOD']<pd.datetime(2006,10,26)),'permno']='T00018'

#在存在更正前和更正后的数据情况下，保留未更正的数据
income=income.loc[(income['STATEMENT_TYPE']==408005000)|(income['STATEMENT_TYPE']==408001000)].sort_values(['permno','REPORT_PERIOD','STATEMENT_TYPE'])
income.drop_duplicates(subset=['permno','REPORT_PERIOD'],keep='last',inplace=True)

C:\Users\key\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (92,95) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [92]:
#查看income数据重复,不存在大于两条数据的情况，样本中有2749条更正数据
#test=income.groupby(['permno','REPORT_PERIOD'])['ANN_DT'].count().reset_index()
#test[test['ANN_DT']>2]
#len(income[income['STATEMENT_TYPE']==408005000])

In [11]:
#2.1 检查损益表的完整
anincome=pd.merge(ann,income,on=['permno','REPORT_PERIOD'],how='left')
#查看缺失值：未披露现金流量表，且没有在下一年4月以前退市
anincome[(anincome['ANN_DT'].isnull())&((anincome['REPORT_PERIOD']+MonthEnd(4)<=anincome['DelistedDate'])|anincome['DelistedDate'].isnull())]

,permno,REPORT_PERIOD,ListedDate,DelistedDate,OBJECT_ID,S_INFO_WINDCODE,WIND_CODE,ANN_DT,STATEMENT_TYPE,CRNCY_CODE,...,CONTINUED_NET_PROFIT,END_NET_PROFIT,CREDIT_IMPAIRMENT_LOSS,NET_EXPOSURE_HEDGING_BENEFITS,RD_EXPENSE,STMNOTE_FINEXP,FIN_EXP_INT_INC,IS_CALCULATION,OPDATE,OPMODE
2361,000508,1997-12-31,1993-04-30,1999-07-12,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2362,000508,1998-12-31,1993-04-30,1999-07-12,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5649,000693,2018-12-31,1997-02-26,2019-07-09,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17190,002680,2018-12-31,2012-06-05,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22376,T00018,2000-12-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22377,T00018,2001-12-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35006,600772,2005-12-31,1996-11-04,2006-11-30,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#缺失值作图
totalcount=anincome.groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'TOTAL'},inplace=False)
missingcount=anincome[(anincome['ANN_DT'].isnull())].groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'Missing'},inplace=False)
missingdel=anincome[(anincome['ANN_DT'].isnull())&((anincome['REPORT_PERIOD']+MonthEnd(4)<=anincome['DelistedDate'])|anincome['DelistedDate'].isnull())].groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'Missing nonDEL'},inplace=False)
anincome_count=pd.merge(totalcount,missingcount,on=['REPORT_PERIOD'],how='left')
anincome_count=pd.merge(anincome_count,missingdel,on=['REPORT_PERIOD'],how='left')
anincome_count.to_csv(program_path + 'tempwind\\anincome_count.csv')

In [15]:
#2.2 导入现金流量表
program_path = 'D:\\China A share\\'
cf=pd.read_csv(program_path + 'rawwind\\asharecashflow.csv')
cf['permno']=cf['S_INFO_WINDCODE'].str.split('.',expand=True)[0]

#转换日期格式
cf['REPORT_PERIOD']=pd.to_datetime(cf['REPORT_PERIOD'],format='%Y%m%d')
cf['ANN_DT']=pd.to_datetime(cf['ANN_DT'],format='%Y%m%d')
#保留A股数据
cf=cf[(cf['permno'].str.startswith('0'))|(cf['permno'].str.startswith('3'))|(cf['permno'].str.startswith('60'))]
cf.loc[(cf['permno']=='601975')&(cf['REPORT_PERIOD']<pd.datetime(2018,12,31)),'permno']='600087'
cf.loc[(cf['permno']=='600018')&(cf['REPORT_PERIOD']<pd.datetime(2006,10,26)),'permno']='T00018'

#在存在更正前和更正后的数据情况下，保留未更正的数据
cf=cf.loc[(cf['STATEMENT_TYPE']==408005000)|(cf['STATEMENT_TYPE']==408001000)].sort_values(['permno','REPORT_PERIOD','STATEMENT_TYPE'])
cf.drop_duplicates(subset=['permno','REPORT_PERIOD'],keep='last',inplace=True)

C:\Users\key\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (114) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
#2.2 检查现金流量表的完整
ancf=pd.merge(ann,cf,on=['permno','REPORT_PERIOD'],how='left')
#查看缺失值：1997年后，未披露现金流量表，且没有在下一年4月以前退市
ancf[(ancf['ANN_DT'].isnull())&(ancf['REPORT_PERIOD']>pd.datetime(1997,12,31))&((ancf['REPORT_PERIOD']+MonthEnd(4)<=ancf['DelistedDate'])|ancf['DelistedDate'].isnull())]

,permno,REPORT_PERIOD,ListedDate,DelistedDate,OBJECT_ID,S_INFO_WINDCODE,WIND_CODE,ANN_DT,STATEMENT_TYPE,CRNCY_CODE,...,SPE_BAL_NETCASH_EQU_UNDIR,TOT_BAL_NETCASH_EQU_UNDIR,SPE_BAL_NETCASH_INC_UNDIR,TOT_BAL_NETCASH_INC_UNDIR,S_INFO_COMPCODE,S_DISMANTLE_CAPITAL_ADD_NET,IS_CALCULATION,SECURITIE_NETCASH_RECEIVED,OPDATE,OPMODE
916,000047,2002-12-31,1994-10-21,2003-05-30,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2362,000508,1998-12-31,1993-04-30,1999-07-12,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5649,000693,2018-12-31,1997-02-26,2019-07-09,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9235,000931,1999-12-31,1999-07-12,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17190,002680,2018-12-31,2012-06-05,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22376,T00018,2000-12-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22377,T00018,2001-12-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22378,T00018,2002-12-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35006,600772,2005-12-31,1996-11-04,2006-11-30,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
#缺失值作图
totalcount=ancf.groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'TOTAL'},inplace=False)
missingcount=ancf[(ancf['ANN_DT'].isnull())].groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'Missing'},inplace=False)
missingdel=ancf[(ancf['ANN_DT'].isnull())&((ancf['REPORT_PERIOD']+MonthEnd(4)<=ancf['DelistedDate'])|ancf['DelistedDate'].isnull())].groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'Missing nonDEL'},inplace=False)
ancf_count=pd.merge(totalcount,missingcount,on=['REPORT_PERIOD'],how='left')
ancf_count=pd.merge(ancf_count,missingdel,on=['REPORT_PERIOD'],how='left')
ancf_count.to_csv(program_path + 'tempwind\\ancf_count.csv')

In [20]:
#2.3 导入资产负债表
program_path = 'D:\\China A share\\'
balance=pd.read_csv(program_path + 'rawwind\\asharebalancesheet.csv')
balance['permno']=balance['S_INFO_WINDCODE'].str.split('.',expand=True)[0]

#转换日期格式
balance['REPORT_PERIOD']=pd.to_datetime(balance['REPORT_PERIOD'],format='%Y%m%d')
balance['ANN_DT']=pd.to_datetime(balance['ANN_DT'],format='%Y%m%d')
#保留A股数据
balance=balance[(balance['permno'].str.startswith('0'))|(balance['permno'].str.startswith('3'))|(balance['permno'].str.startswith('60'))]
balance.loc[(balance['permno']=='601975')&(balance['REPORT_PERIOD']<pd.datetime(2018,12,31)),'permno']='600087'
balance.loc[(balance['permno']=='600018')&(balance['REPORT_PERIOD']<pd.datetime(2006,10,26)),'permno']='T00018'

#在存在更正前和更正后的数据情况下，保留未更正的数据
balance=balance.loc[(balance['STATEMENT_TYPE']==408005000)|(balance['STATEMENT_TYPE']==408001000)].sort_values(['permno','REPORT_PERIOD','STATEMENT_TYPE'])
balance.drop_duplicates(subset=['permno','REPORT_PERIOD'],keep='last',inplace=True)

C:\Users\key\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (157) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
#2.3 检查资产负债表的完整
anbalance=pd.merge(ann,balance,on=['permno','REPORT_PERIOD'],how='left')
#查看缺失值：未披露资产负债表，且没有在下一年4月以前退市
anbalance[(anbalance['ANN_DT'].isnull())&((anbalance['REPORT_PERIOD']+MonthEnd(4)<=anbalance['DelistedDate'])|anbalance['DelistedDate'].isnull())]

,permno,REPORT_PERIOD,ListedDate,DelistedDate,OBJECT_ID,S_INFO_WINDCODE,WIND_CODE,ANN_DT,STATEMENT_TYPE,CRNCY_CODE,...,CONST_IN_PROG_TOT,OTH_PAYABLE_TOT,LT_PAYABLE_TOT,DEBT_INVESTMENT,OTHER_DEBT_INVESTMENT,OTHER_EQUITY_INVESTMENT,OTHER_ILLIQUIDFINANCIAL_ASSETS,OTHER_SUSTAINABLE_BOND,OPDATE,OPMODE
2361,000508,1997-12-31,1993-04-30,1999-07-12,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2362,000508,1998-12-31,1993-04-30,1999-07-12,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5649,000693,2018-12-31,1997-02-26,2019-07-09,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17190,002680,2018-12-31,2012-06-05,NaT,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22376,T00018,2000-12-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22377,T00018,2001-12-31,2000-07-19,2006-10-20,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35006,600772,2005-12-31,1996-11-04,2006-11-30,NaN,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
#缺失值作图
totalcount=anbalance.groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'TOTAL'},inplace=False)
missingcount=anbalance[(anbalance['ANN_DT'].isnull())].groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'Missing'},inplace=False)
missingdel=anbalance[(anbalance['ANN_DT'].isnull())&((anbalance['REPORT_PERIOD']+MonthEnd(4)<=anbalance['DelistedDate'])|anbalance['DelistedDate'].isnull())].groupby(['REPORT_PERIOD'])['permno'].count().reset_index().rename(columns={'permno':'Missing nonDEL'},inplace=False)
anbalance_count=pd.merge(totalcount,missingcount,on=['REPORT_PERIOD'],how='left')
anbalance_count=pd.merge(anbalance_count,missingdel,on=['REPORT_PERIOD'],how='left')
anbalance_count.to_csv(program_path + 'tempwind\\anbalance_count.csv')